__pycache__
.ipynb_checkpoints
logs
DUMMY1
nohup.out
.idea
output
monotonic_align.build
*.pth
*.zip
/util/monotonic_align/monotonic_align/*
/util/monotonic_align/build/*
/preprocess/reference/vits/*
.vscode/*
logging.log